/* @media screen and (min-width:568px) { 
    body{
        background-color: #e4ae1c;
    }   
}*/


*{
    margin: 0%;
    padding: 0%;
}

html {
    font: size 62px;
}
body { background-color: #03cccc;}

@media screen and (min-width:568px) { 
   body{
       background-color: #e4ae1c;
   }   
}

header{
    display: flex;
    align-items: center;
    background-color: #045252;
    padding: 1rem;
    margin-top: 0%;   
}
@media screen and(max-width:767px) {
    .header1{
        flex-direction: column;
    }
    
}

.contenedor{

    width: 90%;
    
    margin: auto;
    overflow: hidden;
    padding: 10px;
}
.menu-navegacion{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
/*  
.navegacion-contenedor  {
    padding: 0%;
     display: flex;
     justify-content: space-between;
     margin-right: 2rem;
     color: white;
     text-transform: uppercase;
     margin-bottom: 50px;
     flex-wrap: wrap;
     }
*/

     a{text-decoration: none;
 color: white;
  margin: 1rem;}




.boton{ padding: 1rem;}



    .img {
        max-width: 100%;
    }
    .titulo-dementes{
        padding: 35px; ;
        color: #ffffff;   
        text-align: center;     
     }

     .titulo-producto{
        padding: 35px;
        color: #045252;
        text-align: center;
     }
     .tituloquienessomos1{
        padding: 35px;
        color: #ffffff;
        text-align: center;
     }
     .tituloquinessomos2{
        padding: 35px;
        color: #ffffff;
        text-align: center;
     }
     .titulosquinessomos3{
        padding: 35px;
        color: #ffffff;
        text-align: center;    
    }

     .contenedorflex1{
        display: flex;
        flex-direction: row-reverse;
        padding: 3%;
        
     }
     .quienessomos-2{
        display: flex;
        flex-direction: row-reverse;
        padding: 3%;
     }
     .quienessomos-3{
        display: flex;
        flex-direction: row-reverse;
        padding: 3%;
     }
  
     .parrafo1{
        font-size: 21px;
        color: #ffffff;
     }

     .textoquienessomos-2{
        font-size: 21px;
        color: #ffffff;
     }
     .textoquienessomos-3{
        font-size: 21px;
        color: #ffffff;
     }

     .agencia{
        background-color:#028f8f;
     }
     .expeeriencia{
        background-color: #03cccc;
     }
     .contenedor1{
        background-color:#028f8f ;
     }
     .navegacion{
        padding: 10px;
        list-style: none;
        display: flex;
        margin-right: 2rem;
     } 


     #dementes{
        width: 100%;
        background-color: #028f8f;
        text-align: center;
     }
   
     #brand {
        background-color: #028f8f;
         text-align: center;
         color: white;
        }
     .brand1{
        display: flex;
        flex-direction: row-reverse;
        font-size: 21px;
        padding: 3%;
     }  
      .textobrand1{
        padding: 35px;
        color: #ffffff;
        text-align: center;
     }
     .web1{
     display: flex;
     flex-direction: row-reverse;
     font-size: 21px;
     color: #ffffff;
     padding: 3%;
     }
     .tituloweb1{
        padding: 35px;
        text-align: center;
        color: #ffffff;
     }
       #web{
        text-align: center;}

        #socialmedia
        {
         background-color: #028f8f;
         text-align: center;
         color: white;
        }   
        /*.socialmedia1{
            display: grid;
            grid-template-areas: 
            "imagen texto"  
            "imagen lista";
            grid-template-rows: 100px 1fr 1fr;
         }  */
         #grilla{
            display: grid;
            grid-template-columns: 50% 50%;
            font-size: 21px;
            padding: 3%;
         }
        
         .lista{
            padding: 20px;
         }

            
        .titulosocialmedia{
           padding: 35px;
           text-align: center;
           color: #ffffff; 
        }
        .contacto1{
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 3%;
            
         }
         .listac{
            font-size: 21px;
            color: #ffffff;
         }
      





    .formulario{
        background-color: #045252;
        color: white; }

       

     .parent{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }
 
    .div2{
        font-size: 21px;
        color: #ffffff;
    }

    .imgquienessomos{
        width: 520px;
    }  
    
    .productos h3 {
        text-align:center;
        padding: 20px;
        background-color: #e4ae1c;}

     .productos .contenedor{
        display: flex;
        justify-content: space-around;
        align-items: center;}

     .productos .contenedor div{
        width: 250px;
        height: 350px;
        border: 1px solid black;
        text-align: center;
        margin-bottom: 20px;
    }

    .productos .contenedor div h3{
    margin-bottom: 15px;
    font-size: 25px;
    }
    .productos .contenedor div a{
    text-decoration: none;
    color: #045252;
    background-color: white;
    }
    
    .textoproducto{
        text-align: center;    
    }


    footer{
        width: 100%;      
        bottom: 0%;
        left: 0%;
        padding: 2rem 8%;
        background-color: #045252;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
    }


    .logof{
        height: 80%;
        margin-bottom: 1rem;
    }

    .social-icono-container, .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }


    .social-icono{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid white;
        background-position: center;
        background-size: 40%;
        margin: 1rem;
        }


        .social-icono:hover{
            background-color: black;
            filter: invert(1);
        }

        .social-icono:nth-of-type(2){
            background-image: url();
        }

        .social-icono:nth-of-type(3){
            background-image: url();
        }
        .social-icono:nth-of-type(4){
            background-image: url();
        }


        .footer-menu-container{
            list-style-type: none;
            color: white;
            font-size: 18px;
             }


             .menu-item {
                margin: 1rem 1.5rem;
                cursor: pointer;
                opacity: 0.6;
             }


             .menu-item:hover{
                opacity: 1;
            }


         
